.Projects{
	position: relative;
	bottom:51px;
	left: 115px;
	color:#FFFFFF;
}

.aq{
	position: relative;
	bottom: 98px;
	left: 250px;
	color:#FFFFFF;

}

.abaut{
	position: relative;
	left: 10px;
	bottom:3px;
	color:#FFFFFF;
}

.cup{
	display: block;
	background-color:#000000;
	position: relative;
	right: 8px;
}

.styleImg{
	width:165px;
	height:165px;
	border:1px
	solid #000;
	position: relative;
	top:10px;
	border-radius: 10px;
	background-color:#000000;

}
.userPic{
	position: relative;
	left: 8px;
	top: 8px;
}
.styleUsername{
	width:165px;
	height:30px;
	border:1px
	solid #000;
	position: relative;
	top:20px;
	border-radius: 10px;
	background-color:#000000;
}

.username{
	position: relative;
	bottom: 20px;
	left: 45px;
	color:#FFFFFF;
}

.Contacts{
	position: relative;
	top:30px;
	width:165px;
	height:500px;
	border:1px
	solid #000;
	border-radius: 10px;
	background-color:#000000;

}
.contacts_text{
	position: relative;
	left: 30px;
	bottom: 10px;
	color:#FFFFFF;
}

a{
	text-decoration: none;
	color:#FFFFFF; 
}
.githubImg{
	position: relative;
	left: 100px;
	bottom: 50px;
}

.github{
	position: relative;
	left:10px;
}
h2{
	font-family: 'Fira Sans', sans-serif;
}

